<div id="autominebuttons" class="header-block header-block-buttons hidden" >
	<a href="https://github.com/bentbot/automine"
		class="btn btn-sm header-btn">
		<i class="fa fa-github-alt"></i>
		<span>AutoMine on GitHub</span>
	</a>

	<a href="https://github.com/bentbot/automine/stargazers"
		class="btn btn-sm header-btn">
		<i class="fa fa-star"></i>
		<span>Add Star</span>
	</a>

	<a href="https://github.com/bentbot/automine/releases"
		class="btn btn-sm header-btn">
		<i class="fa fa-cloud-download"></i>
		<span>Download</span>
	</a>
	{{!-- <button type="button" class="btn btn-default btn-sm rounded-s buttons header-btn">
		<i class="fa fa-share-alt"></i>
		Share
	</button> --}}
</div>
