<div class="logo">

	<img src="/assets/bowler-hat.png" style="width: 50px;margin-top: -12px;margin-left: -5px;" />
	{{!-- <span class="l l1"></span>
	<span class="l l2"></span>
	<span class="l l3"></span>
	<span class="l l4"></span>
	<span class="l l5"></span> --}}
</div>